.main-button {
  width: 300px;
  padding: 20px 30px;
  font-size: 28px;
  color: aliceblue;
  border: none;
  border-radius: 4px;
}

.primary-button {
  background: rgb(21, 56, 79);
}

.secondary-button {
  background: rgb(21, 79, 44);
}
