textarea {
  width: 150px;
  height: 40px;
  background: aquamarine;
  font-size: 15px;
  border-radius: 5px;
  font-family: SansSerif, serif;
  padding: 10px;
}

.text-area-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}