.loginform-wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 590px;
  height: fit-content;
  padding: 60px;
  border: 1px solid black;
  border-radius: 4px;
  background-color: white;
}

.loginform-name {
  font-size: 24px;
}

.inputs-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

