.feedback-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 800px;
  padding: 30px;
  background: rgb(218, 217, 228);
}

.feedback-result-container {
  display: flex;
  gap: 30px;
  width: 100%;
}

.like-dislike-container {
  display: flex;
  gap: 30px;
  align-items: center;
  width: 100%;
}

.result {
  font-size: 34px;
  color: rgb(19, 29, 66);
  font-weight: bold;
}
